#lin-top {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    border-bottom: 1px solid #1a1a1a;
    box-shadow: 0 1px 0 #393939;
    padding-top: 10px;
}

#lin-top .header-social {
    float: none
}

#menu-risponsive #lin-top li {
    border-bottom: none;
}

.menu-bottom {
    display: none;
    min-height: 35px;
    line-height: 35px;
    direction: rtl;
    padding-right: 5px;
    position: relative;
    border: none;
    height: 35px;
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    transition: all 0.3s ease 0s;
    margin-top: -20px;
    background: #1d1d1d;
    border-radius: 3px;
}

#menu-risponsive {
    display: none;
}

.main-menu .navbar-c-toggle {
    display: none;
    margin: 0;
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 0;
    color: #fff;
    background: none;
    border: none;
    float: right;
    background: #444;
    cursor: pointer;
    overflow: hidden;
    z-index: 9999999;
}

.menu-bottom::after {
    content: "";
    display: block;
    clear: both;
}

.menu-bottom {
    float: right;
    margin-left: 5px;
}

.main-menu .navbar-c-toggle:hover {
    background: #666;
}

#menu-close {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #555;
    margin: auto;
    float: left;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#menu-close:hover {
    background: #ff0606;
    transition: all 0.3s ease-in-out;
}

#menu-risponsive h1::before {
    content: '\f104';
    color: #eee;
    margin-left: 5px;
    font-size: 13px;
    font-family: FontAwesome
}

#menu-risponsive li a::before {
    content: '\f104';
    color: #eee;
    margin-left: 5px;
    font-size: 13px;
    font-family: FontAwesome
}

@media (max-width: 992px) {

    .top-m,
    .primary-nav {
        display: none;
    }

    #header .container {
        background: none
    }

    #header {
        border-top: 5px solid #333;
    }

    #main-nav ul ul li.menu-item-has-children:after,
    .menu-item-has-children:after {
        display: none;
    }

    .menu-bottom {
        display: block;
        line-height: 35px;
        color: #f6f6f6;
        font-size: 27px;
        padding-top: 5px;
        padding-right: 2%;
        float: right;
        overflow: hidden;
        cursor: pointer;
    }

    #menu-risponsive {
        background: #2D2D2D;
        width: 55%;
        display: block;
        border: none;
        position: fixed;
        padding: 0;
        top: 0;
        right: 0;
        max-height: 100%;
        height: 100%;
        margin: 0;
        overflow: auto;
        opacity: 1;
        z-index: 99999999;
    }

    #menu-risponsive li {
        padding: 4px;
        overflow: hidden;
        border-bottom: 1px solid #0000004d;
        box-shadow: 0 1px 0 #39393933;
        position: relative;
    }

    #menu-risponsive li span.arrow-nav-c {
        position: absolute;
        top: 8px;
        left: 5px;
        color: #fcfcfc;
        background: #626262;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        border-radius: 5px;
    }

    #menu-risponsive li:nth-last-of-type(1) {
        border-bottom: none;
    }

    #menu-risponsive li a {
        color: #a3a3a3;
        font-size: 13px;
    }

    #menu-risponsive li ul {
        padding: 5px;
        list-style: none;
        background: rgba(255, 255, 255, 0.1);
        margin-top: 5px;
    }

    #menu-risponsive h2 {
        background: #2D2D2D;
        border-bottom: 1px solid #1a1a1a;
        box-shadow: 0 1px 0 #393939;
        color: #eee;
        margin: 0;
        font-size: 20px;
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
    }

    #main-menu {
        display: none;
    }

    #menu-risponsive {
        display: block;
        box-shadow: 15px 4px 25px 21px rgba(28, 28, 28, 0.9);
    }

    .menu-show {
        float: right;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }

    .menu-hidden {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        box-shadow: none !important;
        opacity: 0;
    }
}

@media(max-width: 480px) {
    #menu-risponsive {
        width: 80%
    }
}

@media(max-width: 320px) {
    #menu-risponsive {
        width: 100%;
    }
}




@media only screen and (max-width: 1200px) {
    .left-main-media-contain {
        width: 90%;
        margin: 7%;
    }

    .media-left {
        width: 30%;
    }

    .media-right {
        width: 69%;
    }

    .last-post-bottom,
    .boxe-2-bottom-image {
        height: 160px;
    }

    .boxe-2-top-images {
        max-height: 400px;
        height: auto;
    }

    .boxe-2-top-images img {
        height: auto;
    }

    .box_author-thumb {
        max-height: 400px;
        height: auto;
    }

    .box_author-thumb img {
        height: auto;
    }

    .box-content {
        height: 220px;
    }

    .box-content-right {
        width: 310px;
        height: 220px;
    }

    .lead-post-excerpt-intro {
        display: none;
    }

    .lead-post-excerpt-thumb {
        max-height: 100px;
        height: 100px;
    }

    .lead-post-excerpt-thumb img {
        height: 100px;
    }

    .box-content-left {
        height: 220px;
    }

    .post-excerpt2 p {
        font-size: 13px;
    }

    .post-title a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .slider-box {
        display: none
    }

    .footer-top-3 {
        width: 100%;
        float: right;
    }

    .footer-top-1,
    .footer-top-2 {
        width: 48%;
        float: right;
    }
}

@media only screen and (max-width: 992px) {
    .box-content-left {
        height: 285px;
    }

    .post-excerpt2 p {
        font-size: 16px;
    }

    .post-title a {
        font-size: 14px;
    }

    .left-main-media-contain {
        width: 31%;
        margin: 1%;
    }

    .media-left {
        width: 100%;
    }

    .media-right {
        width: 100%;
    }

    .bottom-main-media-contain {
        width: 31%;
    }

    .last-post-bottom,
    .boxe-2-bottom-image {
        height: 150px;
    }

    .box-content {
        height: 285px;
    }

    .box-content-right {
        width: 410px;
        height: 285px;
    }

    .lead-post-excerpt-intro {
        display: block;
    }

    .lead-posts .col-md-4 {
        /*width: 33%;*/
    }

    .lead-post-excerpt-thumb {
        max-height: 125px;
        height: 125px;
    }

    .lead-post-excerpt-thumb img {
        height: 125px;
    }

    .lead-post-excerpt-thumbb {
        max-height: 185px;
        height: 185px;
    }

    .lead-post-excerpt-thumbb img {
        height: 185px;
    }
}

@media only screen and (max-width: 750px) {
    .box-content-left {
        height: 220px;
    }

    .post-excerpt2 p {
        font-size: 15px;
    }

    .page-bottom-link {
        float: right;
        margin-right: none;
        color: #999;
        width: 100%;
    }

    .wp {
        display: none
    }

    .footer-top-1,
    .footer-top-2 {
        width: 99%;
        float: right;
    }

    .last-post-bottom,
    .boxe-2-bottom-image {
        height: 145px;
    }

    .box-content {
        height: 220px;
    }

    .box-content-right {
        width: 310px;
        height: 220px;
    }

    .lead-post-excerpt-intro {
        display: none;
    }

    .lead-post-excerpt-thumbb {
        max-height: 165px;
        height: auto;
    }

    .lead-post-excerpt-thumbb img {
        height: auto;
    }
}

@media only screen and (max-width: 650px) {

    .video-cover,
    .head-video video {
        height: 340px;
    }

    .a-main-media-contain,
    .bottom-main-media-contain {
        width: 45%;
        margin: 2%;
    }

    .left-main-media-contain {
        width: 45%;
        margin: 2%;
    }
}

@media only screen and (max-width: 550px) {
    .box-content-left {
        height: auto;
    }

    .slider-box {
        display: inline
    }

    .slider-box,
    .flexslider,
    .full-width .content .flexslider,
    .slider-big {
        height: 280px;
    }

    .flexslider .slides img {
        height: 280px;
    }

    .slider-caption {
        background: none
    }

    .slider-caption h2,
    .slider-caption p {
        color: #fff
    }

    .box-one {
        display: none
    }

    .box-tow {
        display: inline
    }

    .video-cover,
    .head-video video {
        height: 320px;
    }

    .single-thumb {
        height: 300px;
    }

    .breadcrumb {
        display: none
    }

    .last-post-bottom,
    .boxe-2-bottom-image {
        height: 130px;
    }

    .box-content {
        height: auto;
        margin-bottom: 15px;
    }

    .box-content-right {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .box-content-right img {
        width: 100%;
        height: auto;
    }

    .lead-post-excerpt-thumb {
        max-height: 125px;
        height: auto;
    }

    .lead-post-excerpt-thumb img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .hints i {
        display: none;
    }

    .hints .des-hints {
        padding-right: 5px;
    }

    .cm_wrapper form input[type="text"] {
        width: 100%;
    }

    .cm_wrapper form textarea {
        width: 100%;
        float: right;
        margin: 18px 0 10px 0px;
    }

    .slider-box,
    .flexslider,
    .full-width .content .flexslider,
    .slider-big {
        height: 260px;
    }

    .flexslider .slides img {
        height: 260px;
    }

    .post-item-excerpt {
        width: 100%;
        float: right;
        margin: 2%;
        height: 300px;
    }

    .video-cover,
    .head-video video {
        height: 260px;
    }

    .left-main-media-contain {
        width: 80%;
        margin: 12%;
    }

    .cmdark_title b,
    .cmdark_title {
        height: auto;
        padding-bottom: 10px;
    }

    .a-main-media-contain,
    .bottom-main-media-contain {
        width: 80%;
        margin: 10%;
    }

    .single-thumb {
        height: 280px;
    }

    .last-post-bottom,
    .boxe-2-bottom-image {
        height: 110px;
    }

    .cat-tabs-header li {
        border-radius: 0px;
        border-top: none;
        width: 50%;
        padding: 0px;
        margin-right: 0px;
    }

    .cat-tabs-header li.active {
        background: #e2e2e2;
        border-radius: 0px;
        border-top: none;
        width: 50%;
        padding: 0px;
        margin-right: 0px;
    }

    .cat-tabs-header {
        border-bottom: none;
        height: auto;
        overflow: hidden;
    }

    .post-item-excerpt:hover .boxe-1-left-date,
    .lead-post-excerpt:hover .boxe-1-left-date,
    .post-excerpt-summary,
    .breaking-news {
        display: none;
    }

    .boxe-1-left,
    .post-excerpt {
        width: 100%;
        float: right;
    }

    .post-thumbnail.medium {
        max-height: 250px;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .post-thumbnail.medium img {
        width: 100%;
        height: auto;
    }

    .lead-post-excerpt-thumb {
        max-height: 260px;
        height: auto;
    }

    .boxe-1-right {
        width: 100%;
        margin-bottom: 15px;
        border-left: none;
        border-bottom: 1px solid #ddd;
    }

    .lead-post-excerpt-thumbb {
        max-height: 250px;
        height: auto;
    }
}

@media only screen and (max-width: 400px) {

    .slider-box,
    .flexslider,
    .full-width .content .flexslider,
    .slider-big {
        height: 230px;
    }

    .flexslider .slides img {
        height: 230px;
    }

    .video-cover,
    .head-video video {
        height: 240px;
    }

    .bottom-main-media-contain {
        width: 85%;
        margin: 6%;
    }
}

@media only screen and (max-width: 360px) {
    .post-title a {
        font-size: 16px;
    }

    .slider-big {
        height: 210px;
    }

    .flexslider .slides img {
        height: 210px;
    }

    .video-cover,
    .head-video video {
        height: 200px;
    }

    .a-main-media-contain,
    .bottom-main-media-contain {
        width: 92%;
        margin: 3%;
    }

    .single-thumb {
        height: 240px;
    }

    .last-post-bottom,
    .boxe-2-bottom-image {
        height: 100px;
    }
}

@media only screen and (max-width: 330px) {

    .post-item-excerpt,
    .lead-posts .col-md-4 {
        width: 98%;
        float: right;
        margin: 2%;
    }

    .page-bottom-link-title,
    .bottom-social span {
        display: none
    }

    .page-bottom-link {
        margin-right: 1px;
    }

    .video-cover,
    .head-video video {
        height: 170px;
    }
}

@media only screen and (max-width: 300px) {
    .single-thumb {
        height: 200px;
    }
}